body
{
	margin:0;
}


#sidebar-menu
{
	width:50px;
	background:#e1e1e1;
	position:fixed;
	height:100%;
	z-index: 100;
	
}
#sidebar-menu ul
{
	width:inherit;
	position:absolute;
	top:10%;
	list-style: none;
	padding:0;
}
#sidebar-menu .item
{
	width:inherit;
	font-size:12px;
	font-family:'Mircosoft YaHei';
	text-align: center;
	margin-top: 5px;
	cursor:pointer;
}
#sidebar-menu #closeBar
{
	width:inherit;
	position:absolute;
	bottom:30px;
	text-align: center;
	cursor:pointer;
	
}
#sidebar-content .nav-content
{
	position:fixed;
	width:210px;
	min-height: 100%;
	z-index: 99;
	background: #e1e1e1;
	border:1px solid black;
}
#sidebar-content .nav-con-close
{
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
}