.mask
{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.7);
    display: none;
}
body
{
    margin:0;
}
#main-page
{
    margin-right:0px;
    transition:left 0.6s;
    min-height:100%;
}
#main-page nav
{
    min-height:40px;
    width:inherit;
    background:#0a1919;
    border-bottom:1px solid #333;
}
#main-page nav ul
{
    list-style: none;
    width:inherit;
    margin:0; 
    padding:0;
    display: none;
    text-align: center;
}
#main-page nav ul li
{
    height:40px;
    
}
#main-page nav ul li a
{
    text-decoration: none;
    color:#fefefe;
}

#main-page nav .logo 
{
    
    height:40px;
    width:inherit;
    text-align:center;
    padding:0 auto;
    border-bottom: 1px dashed #777;
}
#main-page nav .logo a
{
    height:inherit;
    text-decoration: none;
    color:#fefefe;
    font-size:25px;
    vertical-align: middle;
    border-left: 3px solid #fefefe;
    border-right: 3px solid #fefefe;
    padding:0 10px;
}
#main-page .menu_trigger
{
    float:left;
    display: inline-block;
    position:absolute;
    left:2px;
    top:2px;
    width:36px;
    height:36px;
    background:inherit;
    color:#fefefe;
    font-size:25px;
    border:none;
}

footer
{
    min-height:100px;
    background:#efeae9;
    margin-bottom: 0;  
    text-align: center;
    margin-bottom:0;
}
footer .share-group
{
    display:block;
    padding-top:10px;
    margin-bottom:10px;
    padding-left:0;
    list-style: none;
    width:inherit;
    text-align: center;
    
    
}
.share-group li
{
    margin: 0 auto;
    display:inline-block;
    padding:5px;
}
footer .share-group li a
{

    
    text-decoration: none;
    color:#666;
    font-size:12px;
}
.copyright
{
    margin:0 auto;
    margin-top:20px;
    padding-bottom:20px;
    font-size:15px;
}

.codehilite
{
    overflow: hidden;
    border-radius: 10px;
}
.codehilite pre
{
    border-radius: 10px;
    padding-left:15px;
    width:inherit;
}

#sidebar
{
    max-width: 300px;
    min-height: 100%;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    color:#e3e3e3;

}
#sidebar #home
{
	width:inherit;
	max-height: 50px;
	font-size: 20px;
	text-align: center;
	padding-top:15px;
	padding-bottom: 15px;
	background: #42bbcb;
}

#sidebar-menu
{
    width:50px;
    background:#222;
    position:fixed;
    min-height: 100%;
    z-index: 100;
    top:0;
    bottom:0;
    right:0;
	
	

    
}
#sidebar-menu ul
{
    width:inherit;
    position:absolute;
    margin-top:20px;
    list-style: none;
    padding:0;
}
#sidebar-menu .item
{
    width:inherit;
    font-size:20px;
    font-family:'Mircosoft YaHei';
    text-align: center;
    margin-top: 5px;
    cursor:pointer;
}

#closeBar
{
	color:#42bbcb;
	width:50px;
    position:fixed;
	bottom:15px;
	text-align: center;
    cursor:pointer;
    right:0;
	z-index: 100;
	
}
#sidebar-content
{
    position:fixed;
    width:250px;
	height: 100%;
    right:-250px;
	z-index: 99;
	background: #333;
    overflow: hidden;
	

}
.nav-content
{
	position:absolute;
    width:250px;
	height: 100%;
    border:1px solid black;
	z-index: 99;
	background: #333;
	display:none;
    overflow-y: scroll;

}

#sidebar-content .nav-con-close
{

    position:absolute;
    top:15px;
    left:5px;
    cursor:pointer;
    font-size: 20px;
}

#sidebar-content .nav-con-title
{
    padding:15px 0;
    font-size:20px;
    font-weight:400;
    text-align:center;
}
#sidebar-content .inner-content ul
{
    list-style: none;
    padding-left:25px;
}
.inner-content ul li
{
    padding:10px;
}
.showbar
{
	animation-name: showbar;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes showbar
{
	from{

	}
	to
	{
		transform : translateX(-3px) rotate(405deg) scale(1.5);
	}
}

.closebar
{
	animation-name: closebar;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes closebar
{
	from
	{
		transform : translateX(-3px) rotate(405deg) scale(1.5);
	}
	to
	{
		transform : translateX(-0px) rotate(0deg) scale(1);
	}
}

.back-to-top
{
    color:#42bbcb;
	width:50px;
    position:fixed;
	bottom:40px;
	text-align: center;
    cursor:pointer;
    right:0;
	z-index: 100;
    font-size:23px;
}

a {
  color: #308bd9;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #347cbc;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
