{% extends "base.html" %}
{% block css %}
<link rel='stylesheet' media="screen and (min-width:1025px)"  href='../../static/css/homepage.css'>
<link rel='stylesheet' href='../../static/css/normalize.css'>
<link rel='stylesheet' href='../../static/css/monokai.css'>
<link rel='stylesheet' media="screen and (min-width:1025px)"  href='../../static/css/article.css'>

<link rel='stylesheet' media="screen and (max-width:1024px)"  href='../../static/icss/ihomepage.css'>
<link rel='stylesheet' media="screen and (max-width:1024px)"  href='../../static/icss/iarticle.css'>

{% endblock %}

{% block content %}
    <div class="article_header">
        <h1 class="article_title"><a>{{ page.meta.title}}</a></h1>                   
		<div class="article_info">{{ page.meta.date }} | <a class = 'tag' href="{{page.tags.link}}">{{page.tags.tag}}</a></div>
	</div>
	<article>
		{{ page.meta.excerpt }}
		{{ page }}
	</article>
{% endblock %}

{% block sidebar %}
	<ul>
	{% for item in page.sidebar %}
		<li><a href='#{{ item.value.id }}'>{{ item.value.title }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}

{% block js %}
        <script src="../../static/js/jquery.js"></script>
        <script src="../../static/js/home.js"></script>
        <script src="../../static/ijs/ihome.js"></script>
{% endblock %}
