{% extends "base.html" %}
{% block css %}
<link rel='stylesheet' href='static/css/normalize.css'>
<link rel='stylesheet' media="screen and (min-width:1024px)"  href='static/css/homepage.css'>
<link rel='stylesheet' media="screen and (min-width:1024px)"  href='static/css/posts.css'>
<link rel='stylesheet' media="screen and (max-width:1024px)"  href='static/icss/ihomepage.css'>
<link rel='stylesheet' media="screen and (max-width:1024px)"  href='static/icss/iposts.css'>
{% endblock %}

{% block content %}
<ul class="post_list">
    {% for page in pages %}
<li class="post_preview">
    <div class="post_header">
        <div class="post_title">{{ page.meta.title }}</div>
        <div class="post_info">{{ page.meta.date }}</div>
    </div>
    <div class="post_body">{{ page }}</div>
    <div class="more link_tag"><a href="{{ url_for('page', path=page.path) }}">More -></a></div>
</li>
{% endfor %}
</ul>
{% endblock %}


{% block js %}
        <script src="static/js/jquery.js"></script>
        <script media="screen and (min-width:1024px)" src="static/js/home.js"></script>
        <script media="screen and (max-width:1024px)" src="static/ijs/ihome.js"></script>
{% endblock %}